hr{
    width:90%;
    border:2px dashed black
}
body{
    color: white;
	background-color:white;
	
}

footer {
    background: #202026;
    min-height: 200px;
	width: 100%;
	float: left;
	
    
}
.nav {
    border-bottom: 3px solid #660041;
    background-color: #202026;
}
.acilanmenu-btn {
    border-radius:5px;
    float: left;
    background: #202026;
    border:1px solid white;
    color: white;
    font-size: 20px;  
	

	
}
.acilanmenu-btn:focus {
    background: black;
    border:1px solid white;
    color: white;
    font-size: 20px;  
}
.acilan-menu {
    height: auto;
    width: 100%;
    background: #46a288;
	
 
}
.acilan-menu ul {
    list-style: none;
}
.acilan-menu ul li {
    padding-bottom: 10px;
}
.acilan-menu ul li h2 {
    color: white;
    padding-top: 20px;
}
.acilan-menu ul li a {
    text-decoration: none;
    color: white;
    font-size: 15px;
    
}

.yazi{
    margin-left:10px;
    float: left;
    padding-top:20px;
    font-family:Cursive;
}
#cizgi
{
	height: 1px;
	width:auto;
	background-color: black;
	opacity: 0.3;
	margin-right: 50px;
}
#morgecis
{
	height: 5px;
    width: 100%;
    background: #660041;
	float: left;
}
.icerik
{
	height: 1000px;
	width: 79%;
	float: left;
	border-right: 2px solid  #6A6A6A;
	color: black;
	font-family: 'Open Sans', sans-serif;
}
.iceriksag
{
	height: auto;
	width: auto;
	float: left;
	border: 1px solid #DFDFDF;
	margin-left: 10px;
}

.content
{
	height: auto;
	width: 100%;
	float: left;
	margin-top: 20px;
}
.resim
{
float: left;
}
.resimblg
{
	height: 100px;
	width: 201px;
	float: left;
	margin-top: 5px;
	font-family: 'Open Sans', sans-serif;
	color: black;
}
.footertasarim
{
	min-height: 160px;
	width: 1100px;
	margin-top: 20px;
	border-top: 1px solid #8F8F8F;
}
.footerlogo
{
	float: left;
	margin-top: 20px;
	margin-left: 20px;
}
.siteharitasi
{
	float: left;
	margin-left: 100px;
	margin-top: 30px;
	font-weight: bold;
}
.sosyalmedya
{
	float: left;
	margin-left: 100px;
	margin-top: 30px;
	font-weight: bold;
}
.hüyazi
{
	float: left;
	margin-top: 30px;
	font-size: 25px;
	font-weight: bold;
	margin-left: 5px;
}
a.yazi-link
{
	color: white;
}