<!DOCTYPE html>
<html lang="tr-TR"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <title>alikozlak</title>
    <meta name="description" content="İçerik">
    <meta name="keyword" content="Web Terminolojileri">
    <meta name="author" content="alikozlak.com">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="font/font.css">
    <link rel="stylesheet" href="css/bootstrap.css">
    <link rel="stylesheet" href="css/style.css">

</head>
<body>
<nav class="navbarmenu">
      <div class="row menurow">
        <div class="col-xl-11">
          <div class="yazi pb-2"><strong style="font-size: 20px;">Ali KOZLAK</strong></div>
          <div class="yazi pl-5" ><strong>HACETTEPE ÜNİVERSİTESİ</strong></div>
          <div class="yazi pl-5"><strong>BİLGİSAYAR ÖĞRETİM VE TEKNOLOJİLERİ EĞİTİMİ BÖLÜMÜ</strong></div> 
        </div>
        <div class="col-xl-1 btndiv pt-3 pr-5 pb-3"> 
           <ul style="list-style: none;">
                <li><button class="btn acilanmenu-btn"><span class="glyphicon glyphicon-th-list">Menu</span></button></li>
            </ul>
        </div>
      </div>    
    
    <div class="acilan-menu" style="display: none;">
        <ul>
            <li>
                <h2>konu 1 </h2>
            </li>
            <li>
                <h2>konu 2 </h2>      
            </li>
            <li>
                <h2>konu 3 </h2>
            </li>
            <li>
                <h2>konu 4 </h2>
            </li>
            <li>
                <h2>konu 5 </h2>
            </li>
        </ul>
    </div>
</nav>

<footer>
   alikozlak
</footer>
<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>
